#sideBarMain {
  border-radius: 50px;
}
#sidebar-all {
  width: 350px;
}
a.list-group-item:hover span {
  transition: color 0.5s ease;
}

a.list-group-item:hover i {
  color: #e8e7de !important;
  transition: color 0.5s ease;
}

.doctorSpan {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
}

.docHr {
  color: #a6cf97 !important;
}

.listIcon {
  color: #a6cf97 !important;
}

span {
  color: #a6cf97;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

i {
  margin-left: 40px;
}

hr {
  color: #a6cf97;
}

@media (max-width: 1366px) {
  .sidebar {
    font-size: 0.8rem;
  }
  .doctorSpan {
    font-size: 0.65rem !important;
  }

  i {
    margin-left: 2px;
  }
}

#createP {
  color: #dc5f00 !important;
}

#createP:hover i {
  color: #e8e7de !important;
  transition: color 0.5s ease;
}
