input {
  width: 100%;
}

.gradient-bg {
  background: linear-gradient(to bottom, #27342f, #a6cf97);
}

button {
  border: none !important;
}

button:hover {
  transition: color 0.8s ease;
}

#existing-exercises {
  width: 100% !important;
}
