.right-container .card {
  height: 40px;
  width: 200px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
